<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav text-white">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLiknkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="input-parent" routerLiknkActive="active">Input Parent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="output-parent" routerLiknkActive="active">Output Parent</a>
      </li>
    </ul>
  </div>
</nav>
<!-- nav -->

<div class="container">
  <router-outlet></router-outlet>
</div>