<h1>Bindings</h1>
    <h3>Interpolation</h3>
    {{title}} - Interpolation

    <h3>Attribute Binding</h3>
    <table border="1">
        <tr>
            <!-- <th colspan='2'>Student Details</th> -->
            <th attr.colspan={{col}}>Student Details</th>
        </tr>
        <tr>
            <td>Name:</td>
            <td>Reddy</td>
        </tr>

        <tr>
            <td>Roll No</td>
            <td>1234</td>
        </tr>

    </table>

    <h3>Property Binding</h3>

    <h5 [innerHTML]="firstName"></h5>
    <h5 innerHTML="{{firstName}}"></h5>
    <img [src]="imgPath" width="100" height="100">
    <br>
    <img class="mt-3" src="{{imgPath}}" width="100" height="100">

    <h3>Event Binding</h3>
    <button class="btn btn-primary" (click)="showAlert()">Show Alert</button>

    <div class="mt-3">
        <button class="btn btn-info" (click)="showDiv(true)">True</button>
        <button class="btn btn-primary ml-2" (click)="showDiv(false)">False</button>

        <p *ngIf="isShow">
            Data is Valid
        </p>
        <p *ngIf="!isShow">
            Data is Invalid
        </p>
    </div>

    <button (click)="show()">Show</button>
    <p *ngIf="isSee">Hello Reddy</p>

    <h3>Two way Data Binding</h3>
    <input type="text" [(ngModel)]="enteredData">
    <div>
        Value is: {{enteredData}}
    </div>

    <h1>Structural Directives</h1>
    <h3>Ngif</h3>

    <div *ngIf="true">Element is true</div>
    <div *ngIf="false">Element is false</div>

    <div *ngIf="isShowVal">Element is true</div>
    <div *ngIf="!isShowVal">Element is false</div>

    <h5>Radio Button</h5>
    <div>
        <input type="radio" name="value" (click)="changeValue(true)" checked>Male
        <input type="radio" name="value" (click)="changeValue(false)">Female
        <p *ngIf="isMale">I'm Male</p>
        <p *ngIf="!isMale">I'm Female</p>
    </div>

    <h3>Ng For</h3>
    <ul>
        <li *ngFor="let item of items; index as i; even as isEven; odd as isOdd">
            {{i+1}} . {{item.name}} | {{item.mobile}}
            <div class="text-success" *ngIf="isEven">
                {{i+1}} . {{item.name}} | {{item.mobile}}
            </div>
            <div class="text-danger" *ngIf="isOdd">
                {{i+1}} . {{item.name}} | {{item.mobile}}
            </div>
        </li>
    </ul>

    <!-- ng-template ngFor -->
    <h3>Ng Template NgFor</h3>
    <ng-template ngFor let-item [ngForOf]="items" ; let-i=index; let-isEven=even; let-isOdd=odd>
        {{item.name}} | {{item.mobile}}
        <span class="text-success" *ngIf="isEven">
            {{item.name}} | {{item.mobile}}
        </span>
        <div class="text-danger" *ngIf="isOdd">
            {{item.name}} | {{item.mobile}}
        </div>
    </ng-template>

    <h3>Ng- Container</h3>
    <ng-container *ngFor="let item of items; index as i; even as isEven; odd as isOdd">
        {{item.name}} | {{item.mobile}}
        <span class="text-success" *ngIf="isEven">
            {{item.name}} | {{item.mobile}}
        </span>
        <div class="text-danger" *ngIf="isOdd">
            {{item.name}} | {{item.mobile}}
        </div>
    </ng-container>

    <h3>Ng Switch</h3>
    <div [ngSwitch]="person">
        <div *ngSwitchCase="'Reddy'">Hello Reddy</div>
        <div *ngSwitchCase="'Aruna'">Hello Aruna</div>
        <div *ngSwitchCase="'Mohan'">Hello Mohan</div>
        <div *ngSwitchDefault>No Match</div>
    </div>

    <h1>Attribute Directives</h1>
    <h3>Ng Style</h3>

    <div [ngStyle]="{'background-color': 'red'}">Hello World</div>

    <div [ngStyle]="{'background-color': myClassType=='online' ? 'green' : 'red'}">
        Hello World
    </div>

    <!-- NgFor -->
    <h5>NgFor with NgStyle</h5>
    <div *ngFor="let item of items">
        <div [ngStyle]="{'color': mycountry == item.country ? 'green' : 'red'}">
            <div>Name: {{item.name}}</div>
            <div>Country: {{item.country}}</div>
        </div>
    </div>

    <h1>Ng Class</h1>    